@font-face {
    font-family: "JMH Cthulhumbus Arcade";
    src: url(../fonts/Cthulhumbus.ttf); /*URL to font*/
}

@font-face {
    font-family: "Repeat Until False";
    src: url(../fonts/REPEATUNTILFALSE.ttf); /*URL to font*/
}

@font-face {
    font-family: "Terminal Grotesque";
    src: url(../fonts/terminal-grotesque.ttf); /*URL to font*/
}



.block {
    width:100%;
    text-align:center
}

main{
    text-align: center;
}
main:after{
    content: "";
    display: table;
    clear: both;
}
main div{
    float:left;
    text-align: center;
    padding: 10px;

 
}
.left-column{
    width:40%;
}
.right-column{
    width:60%;
}
div.left-column{
    text-align: center;
}
.column{
    display: inline-block;
    width:33.3%;
}
div.left-column div.column section ul{
    text-align: center;
    font-size: 100%;
    font-family: "Terminal Grotesque";
    list-style-position: inside; 
    padding-left: 0;
    list-style-type: none;
}
div.left-column div.column section a{
    text-decoration:none;
}
a:link, a:visited {
    color:black;
    text-decoration: none;
}

a:hover{
    color:rgb(255, 221, 0);
}
div.left-column div.column section h2{
    text-align: center;
    font-size: 100%;
    font-family: "Terminal Grotesque";
    font-style: bold;
    list-style-position: inside; 
    padding-left: 0;
    list-style-type: none;
}
header h1 {
    font-family: "JMH Cthulhumbus Arcade";
}
iframe{
    border-style: none;

} 
* {
    box-sizing: border-box;
  }

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 600px) {
    .left-column{
        width: 100%;
        padding-bottom: 10px;
        float: none;
    }
    .right-column{
        width: 100%;
        padding-bottom: 10px;
        float: none;
    }
    .column{
        width: 100%;
        padding-bottom: 0px;
        float: none;
    }
  } 